/*
* @Author: heqingqiu
* @Date:   2017-03-13 15:23:30
* @Last Modified by:   cloudseer
* @Last Modified time: 2017-03-13 19:16:32
*/
*{
	margin:0;
	padding:0;
}
html{
	background:#dedede;
}
h1,h2,h3,h4,h5,h6,p{
	margin-bottom:15px;
}
p{
	text-indent:4ch;
}
img{
	width:100%;
}
.header,.footer{
	z-index:9999;
	width:100%;
	background:#000;
	
}
.header{
	position:fixed;
	top:0;
	left:0;
	height:60px;
}
.logo{
	background-image:url('../img/film.png');
	background-size:cover;
	width:75px;
	height:60px;
	float:left;
	margin-left:20px;
}
nav ul{
	list-style:none;
	position:absolute;
	right:0;
	transform:translateY(70%);
	color:#fff;
}
nav ul>li{
	display:inline-block;
	margin-right:25px;
}
.footer{
	position:relative;
	bottom:0px;
	height:80px;
	margin-top:100px;
}

.content{
	box-sizing:border-box;
	display:inline-block;
	position:relative;
	top:80px;
	margin:20px;
	width:calc(100% - 340px);
	overflow:auto;
}
.flex_img{
	z-index:100;
	display:flex;
	display:-webkit-flex;

	flex-wrap:wrap;
	-webkit-flex-wrap:wrap;

	flex-direction:row;
	-webkit-flex-direction:row;
}
.flex_item{
	margin:10px;
	height:80px;
	max-width:100px;
	flex:1 1 100px;
	-webkit-flex:1 1 100px;
	padding:5px;
	border:1px solid #ccc;
}

.sidebar{
	box-sizing:border-box;
	position:absolute;
	margin:20px;
	padding:20px 20px 40px 20px;
	top:82px;
	right:0px;
	width:280px;
	background:#fff;
}
.sidebar_title p{
	border-left:3px solid #ccc;
	text-indent:2ch;
}
.sidebar form{
	display:table;
	border-collapse:separate; 
	border-spacing:0 1em;
	font-size:12px;
	width:100%;
}
.sidebar form>p{
	display:table-row;
	padding-bottom:10px;
	text-indent:0ch;
}
.tips{
	color:#dedede;
	position:absolute;
	right:55px;
	margin-top:-10px;
}
.sidebar form label{
	padding-right:20px;
	white-space:nowrap;
	text-align:right;
	display:table-cell;
}
.sidebar input,.sidebar textarea{
	vertical-align:middle;
	display:table-cell;
}
.sidebar textarea,.sidebar input[type='text'],.sidebar input[type='email'],.sidebar input[type='password']{
	width:100px;
}
.sidebar input[type='button']{
	box-sizing:border-box;
	display:block;
	position:absolute;
	padding:10px 20px;
	width:240px;
	background-color:#3294fc;
	color:#fff;
	border:none;
	border-radius:5px;
}
.paragraph{
	box-sizing:border-box;
	padding:20px;
	margin-bottom:20px;
	border:2px outset #fff;
	background:#fff;
}